.Header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 999;
  font-family: var(--en-article);
}
.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 71.25rem;
  height: 5rem;
  padding: 1.5rem 2rem;
  margin: 0 auto;
}
.title {
  font-size: 30px;
  font-weight: 700;
  margin: 0;
  color: var(--logo-color);
  opacity: 0.8;
  transition: all 0.2s;
}
.title:hover {
  font-weight: 900;
  opacity: 1;
}

.toggleBtn {
  display: none;
}

@media screen and (max-width: 768px) {
  .content {
    flex-direction: column;
    align-items: flex-start;
    background-color: white;
    height: auto;
  }

  .title {
    align-self: flex-start;
    color: black;
  }
  .toggleBtn {
    display: block;
    position: absolute;
    font-size: 25px;
    top: 24px;
    right: 32px;
  }
}
