.menus {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .menus {
    margin-top: 2rem;
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 5px;
  }
}
