.title {
  position: relative;
  display: table;
  margin: 0 auto 3rem;
}
.text {
  color: black;
  border-bottom: 1px solid var(--light-gray);
  font-weight: 400;
  font-size: 3rem;
  line-height: 1.5;
  font-family: "Shadows Into Light", cursive;
}
.link_wrapper {
  position: absolute;
  font-size: 2rem;
  top: 50%;
  margin-top: -1rem;
  left: -3.5rem;
  opacity: 0.5;
}
.url {
  color: #6b7380;
  opacity: 1;
  transition: all 0.2s ease-in-out;
}
.url:hover {
  color: var(--logo-color);
}
