@import url("https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=IBM+Plex+Sans+KR:wght@500&family=Open+Sans&family=Secular+One&family=Shadows+Into+Light&display=swap");

* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}
a:visited{
text-decoration: none;
color:black;
}

.hidden {
  display: none;
}

:root {
  --transparent-white: hsla(0, 0%, 100%, 0.7);
  --font-color: #272b34;
  --main-background: #f5f5f5;
  --logo-color: #6ad7f6;
  --logo-background: white;
  --light-background-color: #31353e;
  --light-gray: #909090
  --normal-font-weight: 400;
  --normal-font-size: 1rem;

  /* Font */
  --en-title: "Shadows Into Light", cursive;
  --en-article: "Open Sans", sans-serif;
  --ko-title: "Black Han Sans", sans-serif;
  --ko-article: "IBM Plex Sans KR", sans-serif;

  /* Layout */
  --screen-margin-top: calc(5rem + 20px);

  /* Background color */
  --AboutMe-background: #f5f5f5;
  --Skills-background: #f7d63b;
  --Archiving-background: black;
  --Archiving-element-background: white;
  --Project-background: #1fa0be;
  --Footer-background: black;

  --getting-bigger: scale(1.04) translateY(-5px);
}

body {
  margin: 0;
  cursor: pointer;
}

.pageUpBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 1.5rem;
  right: 1.5rem;
  height: 45px;
  width: 45px;
  font-size: 30px;
  border: 1.5px solid black;
  border-radius: 0.5rem;
  background-color: white;
  opacity: 0.5;

  z-index: 1000;
}
